*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3 {
  font-family: "DM Sans", serif;
  font-weight: 300;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.grid-6 img {
  width: 10px;
  align-items: center;
}

.grid-1 img {
  width: 30px;
  align-items: right;
  margin-right: auto;
}

header {
  background-color: #FCDAD8;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
 
}

header h1 {
  color: #AA2447;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(185, 185, 185, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #EB3437;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 5em;
  margin-top: 10em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

/* Desktop version */
@media screen and (min-width: 50em) {
  header {
    height: 400px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 150px;
  }
  
  header p {
    top:  140px;
    font-size: 1.5em;
  }

  header img {
    position: relative;
    width: 200px;
    height: 200px;
    top: 100px;
    align-items: center;

    border-radius: 50%;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */

/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p, .experience h3 {
    text-align: center;
  }
}


/* Table Block */
.table-block {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .table-block {
    width: 70%;
  }
}


/* Education */
.education {
  text-align: center;
  margin-bottom: 30px;
}

.education img {
  height: 8em;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.education p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

/* Spotlight */
.spotlight {
  background-color: #ff8077;
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

/* Photo profile */
.spotlight img {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;

  position: relative;
  width: 100%;

  border-radius: 50%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.spotlight h1 {
  color: #ffffff;
  font-size: 1.3em;
  vertical-align: middle, text-bottom;
}

.spotlight p {
  color: #ffffff;
  font-size: 1em;
  vertical-align: middle, text-bottom;
}


.grid-3 p {
  font-size: 30px;
  color: #fff;
}

.spotlight a:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .spotlight {
    padding: 6em;
    text-align: center;
  }
  
  .spotlight h1, .spotlight p {
    text-align: center;
  }
  
}