{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <!-- Header-->
    <header>

        <!-- Slideshow text -->
        <h1>Activity</h1>
        <p align="center" class="typewrite" data-period="2000" data-type='[ "Hello!!!", "lagi ada kegiatan apa nih?", "lagi sibuk?", "jadwal berantakan?", "catat jadwal di bawah yuk!"]'>
            <span class="wrap"></span>
        </p>
        
    </header>

    <div class="container">
        <hr>
        <h1 class="row justify-content-md-center">Add Activity</h1>
        <div class="row justify-content-md-center">
            <form class="form-group" method="POST">
                {% csrf_token %}
                {% for field in form_activity %}
                <h3 class="w-100 justify-content-center my-1">{{ field.label }}</h3>
                <h3 class="w-100 justify-content-center my-1">{{ field }}</h3>
                {% endfor %}
                <br><br>
                <input type="submit" value="Submit" class="btn btn-outline-dark btn-lg">    
            </form>
        </div>
        <br><br><br><br>
        <h1 class="row justify-content-md-center">Join the Activity</h1>
        <div class="row justify-content-md-center">
            <form class="form-group" method="POST">
                {% csrf_token %}
                {% for person in form_participant %}
                <h3 class="w-100 justify-content-center my-1">{{ person.label }}</h3>
                <h3 class="w-100 justify-content-center my-1">{{ person }}</h3>
               
                {% endfor %}
                <br><br>
                <input name="participant" type="text" value="{{ participant.id }}" style="display: none;">
                <button type="submit" class="btn btn-outline-dark btn-lg">Join</button>
            </form>
        </div>

        <br><br><br><br>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-danger btn-lg btn-block" href="{% url 'story6:list_activity' %}">Back</a>
            </div>
        </div>
    
    </div>
</body>
{% endblock content %}