{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <!-- Header-->
    <header>

        <!-- Slideshow text -->
        <h1>Activity</h1>
        <p align="center" class="typewrite" data-period="2000" data-type='[ "Hello!!!", "lagi ada kegiatan apa nih?", "lagi sibuk?", "jadwal berantakan?", "catat jadwal di bawah yuk!"]'>
            <span class="wrap"></span>
        </p>
        
    </header>

    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-danger btn-lg btn-block" href="{% url 'story6:add' %}">Add and Join Activity</a>
            </div>
        </div>
        <div class="d-flex justify-content-around flex-wrap pb-4">
            {% for x in activity %}
            <div class="card bg-danger text-white mt-5" style="width: 18rem;">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col-10 mb-2"><strong>Activity</strong> <br> {{ x.activity }}</h5>
                        <h5 class="col-10 mb-2"><strong>Category</strong> <br> {{ x.category }}</h5>
                        <a href="{% url 'story6:delete_activity' x.id %}" class="col-2">
                            <button type="button" class="close mb-2">&times;</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Participants</h6>
                    <p></p>
                    <ul>
    
                        {% for y in participant %}
                            {% if y.activity == x %}
                            <li class="row">
                                <h5 class="col-10">{{ y.name }}</h5>
                                <a href="delete/participant/{{ y.id }}" class="col-2">
                                    <button type="button" class="close">&times;</button>
                                </a>    
                            </li>
                            {% endif %}
                        {% endfor %}
    
                    </ul>
                </div>
            </div>
            {% endfor %}

            
    
    </div>
</body>
{% endblock content %}