{% extends "navbar_footer.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}

<head>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js" integrity="sha256-8oQ1OnzE2X9v4gpRVRMb1DWHoPHJilbur1LP9ykQ9H0=" crossorigin="anonymous"></script>
</head>
<body style="background-color: #FCDAD8;">
    <!-- Header-->
    <header>

        <!-- Slideshow text -->
        <h1>About me</h1>
        <p>hello, welcome back to my PPW story</p>
    </header>

    <div class="container">
        <hr>
        
        <!-- ACTIVITY -->
        <div class="card">
            <div class="container">
                
            </div>
            <a href="#" class="accordion-toggle card-header bg-danger justify-content-between" id="card-header">
                <h3 class="text-white">
                    <button id='up' class="btn bg-white">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    </button>
                    <button id='down' class="btn bg-white">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                        </svg>
                    </button>
                    Current Activity
                </h3>
            </a>
            
            <div class="card-body">
                <h5>
                    <li>Nugas guys 😏</li>
                    <li>Kalo lagi laper, ya makan dong 😋</li>
                    <li>Kalo gabut, tidur dulu lah 🥱</li>
                    <li>Oiya, abis makan jangan lupa minum ok! 👌🏻</li>
                </h5>
            </div>
        </div>

        <!-- EXPERIENCE -->
        <div class="card">
            
            <a href="#" class="accordion-toggle card-header bg-danger justify-content-between" id="card-header">
                <!-- <div class="card-header bg-danger justify-content-between" id="card-header"> -->
                    <h3 class="text-white">
                        <button id='up' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </button>
                        <button id='down' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </button>
                        Experience
                    </h3>
                <!-- </div> -->
            </a>
            
          
            <div class="card-body">
                <h5>
                    <li>VPO SIWAK-NG 2020</li>
                    <li>Staff of Academic PMB Fasilkom UI 2020</li>
                </h5>
            </div>
        </div>

        <!-- EDUCATION -->
        <div class="card">
            
            <a href="#" class="accordion-toggle card-header bg-danger justify-content-between" id="card-header">
                <!-- <div class="card-header bg-danger justify-content-between" id="card-header"> -->
                    <h3 class="text-white">
                        <button id='up' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </button>
                        <button id='down' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </button>
                        Education
                    </h3>
                <!-- </div> -->
            </a>
            
          
            <div class="card-body">
                <h5>
                    <li>Information Systems, Faculty of Computer Science UI</li>
                    <li>104 Senior High School</li>
                    <li>103 Junior High School</li>
                </h5>
            </div>
        </div>

        <!-- ACHIEVEMENT -->
        <div class="card">
            
            <a href="#" class="accordion-toggle card-header bg-danger justify-content-between" id="card-header">
                <!-- <div class="card-header bg-danger justify-content-between" id="card-header"> -->
                    <h3 class="text-white">
                        <button id='up' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                            </svg>
                        </button>
                        <button id='down' class="btn bg-white">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                            </svg>
                        </button>
                        Achievement
                    </h3>
                <!-- </div> -->
            </a>
            
          
            <div class="card-body">
                <h5>Coming soon! Insyaa Allah 😇</h5>
            </div>
        </div>

    </div>
</body>

<script>
    $('.accordion-toggle').on('click', function(event){
    	event.preventDefault();
    	// create accordion variables
    	var accordion = $(this);
    	var accordionContent = accordion.next('.card-body');
    	accordionContent.slideToggle(250); // duration
    	
    });
    
    // down button
    $('#down').click(function (e) {
        var self = $(this),
            item = self.parents('div.card'),
            swapWith = item.next();
        item.before(swapWith.detach());
  	});

    // up button
    $('#up').click(function (e) {
        var self = $(this),
            item = self.parents('div.card'),
            swapWith = item.prev();
        item.after(swapWith.detach());
    });
</script>
{% endblock content %}

