{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <!-- Header-->
    <header>

        <!-- Slideshow text -->
        <h1>Details Activities</h1>
        <p align="center" class="typewrite" data-period="2000" data-type='[ "Hello!!!", "lagi ada kegiatan apa nih?", "lagi sibuk?", "jadwal berantakan?", "catat jadwal di bawah yuk!"]'>
            <span class="wrap"></span>
        </p>
        
    </header>

    <div class="container">
        <section class="card-deck" id="schedule">
            <div class="card text-white bg-danger">
                <h3 class="card-header text-white"><strong>{{ schedule.course }}</strong></h3>
                <div class="card-body">
                    <h3 class="card-text"><strong>Lecturer</strong><br>{{ schedule.lecturer }}</h3>
                    <h3 class="card-text">{{ schedule.credit }} Credits</h3>
                    <h3 class="card-text">Term {{ schedule.term }}</h3>
                    <h3 class="card-text"><strong>Classroom</strong><br> {{ schedule.classroom }}</h3>
                    <h3 class="card-text"><strong>Description</strong><br>{{ schedule.description }}</h3>          
                </div>
            </div>
        </section>
        <br><br><br><br>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-danger btn-lg btn-block" href="{% url 'story5:list_course' %}">Back</a>
            </div>
        </div>
    </div>
</body>
{% endblock content %}