{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <!-- Header-->
    <header>

        <!-- Slideshow text -->
        <h1>Schedule</h1>
        <p align="center" class="typewrite" data-period="2000" data-type='[ "Hello!!!", "lagi ada kegiatan apa nih?", "lagi sibuk?", "jadwal berantakan?", "catat jadwal di bawah yuk!"]'>
            <span class="wrap"></span>
        </p>
        
    </header>

    <div class="container">
        <div class="table-responsive table-borderless">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Lecturer</th>
                        <th scope="col">Classroom</th>
                        <th scope="col">Credits</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in schedule %}
                    <tr>
                        <td scope="row"><a href="details/{{ course.id }}" class="text-danger"><strong>{{ course.course }}</strong></a></td>
                        <td>{{ course.lecturer }}</td>
                        <td>{{ course.classroom }}</td>
                        <td>{{ course.credit }}</td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input name="id" value="{{ course.id }}" type="hidden">                        
                                <button type="submit" value="Submit" class="btn btn-warning">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br><br><br><br>
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-danger btn-lg btn-block" href="{% url 'story5:schedule' %}">Add New Activities</a>
            </div>
        </div>
    </div>
    

</body>
{% endblock content %}