*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #fff;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", serif;
}

h1 {
  color: #AA2447;
}

p {
  font-family: "DM Sans", serif;
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #FCDAD8;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  text-align: center;
  height: 500px;
 
}

header h1 {
  color: #AA2447;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(185, 185, 185, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #EB3437;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 5em;
  margin-top: 10em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

/* Desktop version */
@media screen and (min-width: 992px) {
  header {
    height: 400px;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 150px;
  }
  
  header p {
    top:  140px;
    font-size: 1.5em;
  }

}

/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 576px) {
  .experience h2, .experience p, .experience h3, .experience h4 {
    text-align: center;
  }
}

/* Education */
.education {
  text-align: center;
  margin-bottom: 30px;
}

.education img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 70px;
}

.education p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

/* Spotlight */
.spotlight {
  background-color: #ff8077;
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

/* Photo profile */
.spotlight img {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  position: relative;
  width: 100%;

  border-radius: 50%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

.spotlight h1 {
  color: #ffffff;
  font-size: 1.3em;
  vertical-align: middle, text-bottom;
}

.spotlight p {
  color: #ffffff;
  font-size: 1em;
  vertical-align: middle, text-bottom;
}

footer {
  font-family: "DM Sans", serif;
}

table {
  width: 300px;
  font-size: 25px;
  font-family: "DM Sans", serif;
}

div.move {
  width: 10em; 
  float: right;
}

div.move > div {
  float: left; 
  padding-left: 1em;
}

div.content {
  max-width: 10em;
}
