{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <br><br><br><br><br><br><br>
    <div class="container">
        {% if user.is_authenticated == False %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger center">{{ message }}</p>
                {% endfor %}
            {% endif %}

        <h1 class="center">Sign In</h1>
        <br>
        <form method="POST">
            <div class="mb-3">
                {% csrf_token %}
                {{ form }}
                <br>
            </div>
            <button type="submit" class="btn btn-danger">Sign in</button>
          </form>
          <br><br>

        <div class="mb-3">
            <h5>Don't have an account yet? <a href="/signup" class="text-danger"><strong> Sign up now!</strong></a></h5>
        </div>

        {% else %}
            <h1 class="center">Hello <br> 👋🏻😉👋🏻</h1>
            <br>
            <div class="mt-5 ml-5">
                <h3>Welcome,</h3>
                <h1 style="font-weight: 800px;"><span class="highlight">{{ user.first_name }} {{user.last_name}}!</span></h1>
                <h4 style="font-weight: 800px;"><span class="highlight">@{{ user.username }}</span></h4>
            </div>
        {% endif %}
    </div>
</body>
{% endblock content %}