{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
<body style="background-color: #FCDAD8;">
    <br><br><br><br><br><br><br>
    <div class="container">
        
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger center">{{ message }}</p>
                {% endfor %}
            {% endif %}
        
        <h1 class="center">Create new account!</h1>
        <br>
        <form method="POST">
            <div class="mb-3">
                {% csrf_token %}
                {{ form }}
                <br>
            </div>
            <button type="submit" class="btn btn-danger">Sign up</button>
          </form>
          <br><br>

        <div class="mb-3">
            <h5>Already have login and password?<a href="/login" class="text-danger"><strong> Sign in now!</strong></a></h5>
        </div>

    </div>
</body>
{% endblock content %}