{% extends "base.html" %}
{% block meta %}
{% endblock meta %}
{% block content %}
{% load static %}
	<!-- Header-->
	<header>

		<!-- Slideshow text -->
		<h1>Afnadiati Hartatika</h1>
		<p align="center" class="typewrite" data-period="2000" data-type='[ "Hello!!!", "Welcome to my website", "Information Systems student", "1906398931", "CSUI 2019"]'>
			<span class="wrap"></span>
		</p>
		
	</header>
	
	<div class="container" id="about">
		
		<!-- Introduction-->
		<div class="row">
		<section class="center">
			<h1>About me</h1>
			<h4>
				I am Afnadiati Hartatika a second year Information Systems student, Faculty of Computer Science, University of Indonesia. 
				Originally from Indonesia, based in Jakarta. 
			</h4>
		</section>
		</div>
	</div>

	<!-- Spotlight -->
	<section class="spotlight">
		<div class="container">
			<div class="row">
				<img  src="{% static '/homepage/images/afna.jpg' %}">
				<div class="container"><br><br></div>
				<h1 style="font-size:1.6em">Interested in business, management, design and programming. Now, I often spend my free time to exploring it.
					I don't have a specific hobby, but I usually spend my spare time to design anything and try something new. 
				</h1>	
			</div>
			{% if user.is_authenticated == True %}
				<a role="button" class="btn btn-light" target="_blank" href="https://drive.google.com/file/d/1V_pbhvOQ0xRey1wfAItNWK8Fvgd-W4sG/view?usp=sharing">See my resume</a>
			{% endif %}
		</div>
	</section>

	<div class="container" id="education">	
		<!-- Education -->	
		<h1>Education</h1>
		<section class="card-deck">
			<div class="card">
				<img class="card-img-top" src="https://blog-media.lifepal.co.id/wp-content/uploads/2019/08/19132449/Universitas-Indonesia-Jadi-Dambaan-Pelajar-SMA-Shutterstock.-900x639.jpg">	
				<div class="card-body">
					<h3 class="card-text"><strong>University of Indonesia</strong></h3>
					<p class="card-text">Information Systems <br> Faculty of Computer Science <br> 2019 - present</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="https://sman104-jkt.sch.id/wp-content/uploads/2018/10/sman104-sekolah1-390x220.jpeg">
				<div class="card-body">
					<h3><strong>SMAN 104 Jakarta</strong></h3>
					<p>2016 - 2019</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="https://dwikisetiyawan.files.wordpress.com/2013/01/tampak_depan_smp_negeri_103_jakarta.jpg">
				<div class="card-body">	
					<h3><strong>SMPN 103 Jakarta</strong></h3>
					<p>2013 - 2016</p>
				</div>
			</div>
		</section>
	</div> <!-- End container-->
	

	<!-- New container-->
	<div class="container">
		<hr id="experience">
		<h1>Organizational Experience</h1>
			
		<!-- Organizational Experience Tables -->
		<section class="experience">
			<div class="row">
				<div class="col-4">
					<h4 align="center">2017 - 2018</h4>
				</div>
				<div class="col-8">
					<ul>
						<h4><strong>Women's (Akhwat) Coordinator</strong></h4>
						<h4>Rohis SMAN 104 Jakarta</h4>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<h4 align="center">2016 - 2017</h4>
				</div>
				<div class="col-8">
					<ul>
						<h4><strong>Staff of Regeneration Division</strong></h4>
						<h4>Rohis SMAN 104 Jakarta</h4>
					</ul>
				</div>
			</div>
		</section>
	</div>	
		

	<div class="container">
		<hr>
		<!--Commitee Experience -->	
		<h1>Committee Experience</h1>
			
		<!--Experience Tables-->
		<section class="education">
			<div class="row">
				<div class="col-6">
					<img src="{% static '/homepage/images/siwak.png' %}">
					<h4>VPO SIWAK-NG</h4>
					<h4 align="center">2020</h4>
				</div>
				<div class="col-6">
					<img src="{% static '/homepage/images/pmb.png' %}">
					<h4>Staff of Academic PMB Fasilkom UI</h4>
					<h4 align="center">2020</h3>
				</div>
				<div class="col-6">
					<img src="{% static '/homepage/images/hiaston.png' %}">
					<h4>PIC of Design HIASTON</h4>
					<h4 align="center">2018</h4>
				</div>
				<div class="col-6">
					<img src="{% static '/homepage/images/plug.png' %}">
					<h4>Secretary of PLUG 4</h4>
					<h4 align="center">2018</h4>
				</div>
			</div>
		</section>

{% endblock content %}
